@import '~antd/dist/antd.css';

* {
  box-sizing: border-box;
  user-select: none;
  outline: none;
}

button {
  border: none;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #F0ECFF 0%,
    #E2F0FF 100%
  );
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
